window {
    font-family: monospace;
    font-size: 14pt;
    color: #F7F3EA;
    background-color: rgba(18, 20, 20, 0.9);
}

button {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100px;
    border: 2px solid #433F39;
    border-radius: 0px;
    background-color: #111314;
    margin: 5px;
}

button:hover {
    border: 2px solid #374B47;
    background-color: #111314;
    color: #F7F3EA;
}

button:active {
    border: 2px solid #374B47;
    background-color: #111314;
    color: #F7F3EA;
}

button:focus {
    border: 2px solid #374B47;
    background-color: #111314;
    color: #F7F3EA;
}

#lock {
    background-image: image(url("./lock.png"));
}
#logout {
    background-image: image(url("./logout.png"));
}
#suspend {
    background-image: image(url("./sleep.png"));
}
#shutdown {
    background-image: image(url("./power.png"));
}
#reboot {
    background-image: image(url("./restart.png"));
}
#hibernate {
    background-image: image(url("./restart.png"));
}