* {
    border: none;
    border-radius: 0px;
    font-family: JetBrainsMono Nerd Font;
    font-weight: bold;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: #1D2021;
    color: #d4be98;
    border: 2px solid #43413B;
    border-radius: 0px;
    /* box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8); */
}

tooltip {
    background: #1D2021;
    border: 2px solid #43413B;
    border-radius: 0px;
    padding: 8px 5px 8px 5px;
    /* box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8); */
}

#clock {
    color: #d4be98;
    padding: 0px 7px 0px 7px;
    border-left: 2px solid #43413B;
}

#tray {
    border: 2px solid #43413B;
    background: #1a1918;
    border-left: 2px solid #43413B;
    color: #d4be98;
    padding: 0px 8px 0px 8px;
    border-radius: 0px;
}

#battery {
    color: #d4be98;
    padding: 0px 10px 2px 7px;
}

#cpu {
    color: #d4be98;
    padding: 0px 0px 0px 8px;
}

#memory {
    color: #d4be98;
    padding: 0px 10px 0px 10px;
}

#temperature {
    color: #d4be98;
    padding: 0px 8px 0px 0px;
}

#custom-spotify {
    color: #89B482;
    padding: 0px 10px 0px 8px;
}

#pulseaudio {
    color: #d4be98;
    padding: 0px 7px 0px 8px;
}

#pulseaudio.microphone {
    color: #d4be98;
    padding: 0px 15px 0px 3px;
}

#idle_inhibitor {
    color: #A9B665;
    padding: 0px 14px 0px 7px;
    border-left: 2px solid #43413B;
    border-right: 2px solid #43413B;
}

#idle_inhibitor.deactivated {
    color: #E78A4E;
}

#backlight {
    color: #d4be98;
    padding: 0px 7px 0px 7px;
    border-left: 2px solid #43413B;
    border-right: 2px solid #43413B;
}

#vpn {
    color: #d4be98;
    padding: 0px 14px 0px 11px;
}

#network {
    color: #d4be98;
    padding: 0px 5px 0px 8px;
}

#bluetooth {
    color: #d4be98;
    padding: 0px 4px 0px 7px;
}


#power-profiles-daemon {
    color: #d4be98;
    padding: 0px 14px 0px 10px;
    border-left: 2px solid #43413B;
}
#power-profiles-daemon.performance {
    color: #EA6962;
    padding: 0px 13px 0px 7px;
}
#power-profiles-daemon.balanced {
    color: #E78A4E;
    padding: 0px 15px 0px 7px;
}
#power-profiles-daemon.power-saver {
    color: #A9B665;
    padding: 0px 13px 0px 7px;
}


#custom-weather {
    color: #d4be98;
    padding: 0px 7px 0px 8px;
    border-right: 2px solid #43413B;
}


#custom-appmenu {
    background: #1a1918;
    color: #7DAEA3;
    padding: 3px 13px 5px 9px;
    border-radius: 0px;
    border: 2px solid #43413B;
}
#custom-appmenu:hover {
    color: #A9B665;
}


#custom-power {
    color: #E78A4E;
    padding: 0px 12px 0px 10px;
}

#custom-power:hover {
    color: #1D2021;
}

/* Workspace Style - Start */
#workspaces {
    color: #d4be98;
    padding: 2px 0px 2px 0px; 
    border-radius: 0px;
    border-right: 2px solid #43413B;
}

#workspaces button {
    padding: 3px 5px 3px 5px;
    color: #d4be98;
    margin: 2px;
}

#workspaces button.active {
    color: #1D2021;
    background: #A9B665;
}

#workspaces button.focused {
    color: #A9B665;
}

#workspaces button.urgent {
    color: #E78A4E;
}

/* Workspace Style - End */


#taskbar {
    color: #d4be98;
    padding: 2px;
    border-radius: 0px;
}

#taskbar button {
    padding: 3px 3px 3px 7px;
    color: #d4be98;
    margin: 2px;
}

#taskbar button.active {
    background: #32302F;
}

#taskbar button.minimized {
    color: #E78A4E;
}

#taskbar button.maximized {
    color: #EA6962;
}

#taskbar button.fullscreen {
    color: #89B482;
}

#taskbar.empty {
    color: #32302F;
}