* {
    border: none;
    border-radius: 0px;
    font-family: JetBrainsMono Nerd Font;
    font-weight: bold;
    font-size: 12px;
    min-height: 0;
}

window#waybar {
    background-color: #111314;
    border-radius: 5px;
    border: 2px solid #111314;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}

tooltip {
    background: #111314;
    border: 2px solid #1F2121;
    border-radius: 5px;
    padding: 10px;
    margin: 5px 0px 0px 5px;
    /* box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8); */
}

#clock {
    margin: 0px;
    color: #F7F3EA;
    background: #1F2121;
    border-top: 2px solid #111314;
    border-bottom: 2px solid #111314;
    padding: 0px 6px;
    border-radius: 0px;
}

#custom-media {
    border: 2px solid #111314;
    margin: 0px 1px 0px 1px;
    color: #EA6962;
    padding: 0px 6px 0px 6px;
    border-radius: 0px;
}

#tray {
    background: #1F2121;
    border-top: 2px solid #111314;
    border-bottom: 2px solid #111314;
    border-right: 2px solid #111314;
    color: #F7F3EA;
    margin: 0px;
    padding: 0px 6px 0px 2px;
    border-radius: 0px 5px 5px 0px;
}

#battery {
    margin: 0px;
    color: #EA6962;
    padding: 0px 5px 0px 2px;
    border-radius: 0px;
}
#battery.charging {
    color: #A2AE61;
}
#battery.plugged {
    color: #F7F3EA;
}

#cpu {
    background: #111314;
    border-top: 2px solid #111314;
    border-bottom: 2px solid #111314;
    margin: 0px;
    color: #F7F3EA;
    padding: 0px 1px 0px 3px;
    border-radius: 0px;
}

#memory {
    background: #111314;
    border-top: 2px solid #111314;
    border-bottom: 2px solid #111314;
    margin: 0px;
    color: #F7F3EA;
    padding: 0px 7px 0px 8px;
}

#temperature {
    background: #111314;
    border-top: 2px solid #111314;
    border-bottom: 2px solid #111314;
    margin: 0px;
    color: #F7F3EA;
    padding: 0px 3px 0px 2px;
    border-radius: 0px 0px 0px 0px;
}

#custom-spotify {
    margin: 0px;
    color: #89B482;
    padding: 0px 8px 0px 2px;
    border-radius: 5px;
}

#pulseaudio {
    border-top: 2px solid #111314;
    border-bottom: 2px solid #111314;
    margin: 0px;
    color: #F7F3EA;
    padding: 0px 0px 0px 2px;
}
#pulseaudio.muted {
    color: #EA6962;
}
#pulseaudio.microphone {
    margin: 0px 0px 0px 0px;
    color: #EA6962;
    padding: 0px 7px 0px 8px;
    border-radius: 0px 0px 0px 0px;
}
#pulseaudio.microphone.source-muted {
    color: #F7F3EA;
}

#idle_inhibitor {
    margin: 0px;
    color: #A9B665;
    padding: 0px 11px 0px 0px;
    border-radius: 0px;
}

#idle_inhibitor.deactivated {
    color: #E78A4E;
}

#custom-dunst {
    background: #1F2121;
    border-top: 2px solid #111314;
    border-bottom: 2px solid #111314;
    color: #F7F3EA;
    margin: 0px;
    padding: 0px 7px 0px 1px;
    border-radius: 0px;
}

#backlight {
    background: #1F2121;
    border-top: 2px solid #111314;
    border-bottom: 2px solid #111314;
    margin: 0px;
    color: #F7F3EA;
    padding: 0px 4px 0px 0px;
    border-radius: 0px 0px 0px 0px;
}

#custom-vpn {
    color: #d1bcf8;
    background: #1F2121;
    padding: 0px 8px 0px 4px;
    border-radius: 0px;
    border-top: 2px solid #111314;
    border-bottom: 2px solid #111314;
}

#custom-scrcpy {
    color: #F7F3EA;
    background: #1F2121;
    padding: 0px 5px 0px 0px;
    border-radius: 0px;
    border-top: 2px solid #111314;
    border-bottom: 2px solid #111314;
}
#custom-scrcpy:hover {
    color: #89B482;
}

#network {
    color: #F7F3EA;
    background: #1F2121;
    padding: 0px 6px 0px 4px;
    border-radius: 0px;
    border-top: 2px solid #111314;
    border-bottom: 2px solid #111314;
}
#network.disconnected {
    color: #E5894D;
}
#bluetooth {
    color: #F7F3EA;
    background: #1F2121;
    padding: 0px 6px 0px 6px;
    border-radius: 0px;
    border-top: 2px solid #111314;
    border-bottom: 2px solid #111314;
}
#bluetooth.connected {
    color: #7DAEA3;
}

#power-profiles-daemon {
    margin: 0px;
    background: #1F2121;
    border-radius: 0px;
    border-top: 2px solid #111314;
    border-bottom: 2px solid #111314;
}

#power-profiles-daemon.performance {
    color: #EA6962;
    padding: 0px 9px 0px 5px;
}
#power-profiles-daemon.balanced {
    color: #E78A4E;
    padding: 0px 10px 0px 6px;
}
#power-profiles-daemon.power-saver {
    color: #A9B665;
    padding: 0px 9px 0px 5px;
}

#custom-weather {
    background: #111314;
    border-top: 2px solid #111314;
    border-bottom: 2px solid #111314;
    margin: 0px;
    color: #F7F3EA;
    padding: 0px 2px 0px 3px;
    border-radius: 0px;
}

#custom-appmenu {
    background: #1F2121;
    border-left: 2px solid #111314;
    border-top: 2px solid #111314;
    border-bottom: 2px solid #111314;
    margin: 0px 0px 0px 0px;
    color: #7DAEA3;
    padding: 0px 9px 1px 7px;
    border-radius: 5px 0px 0px 5px;
}
#custom-appmenu:hover {
    color: #A9B665;
}

#custom-power {
    background: #1F2121;
    border-right: 2px solid #111314;
    border-top: 2px solid #111314;
    border-bottom: 2px solid #111314;
    margin: 0px 0px 0px 0px;
    color: #E78A4E;
    padding: 0px 11px 0px 6px;
    border-radius: 0px 0px 0px 0px;
}
#custom-power:hover {
    color: #EA6962;
}

#window {
    color: #F7F3EA;
    margin: 0px;
    padding: 0px 2px 0px 7px;
    border-radius: 0px;
}

#mpris {
    color: #F7F3EA;
    margin: 0px;
    padding: 0px 2px 0px 7px;
    border-radius: 0px;
}

#custom-internet_speed {
    color: #F7F3EA;
    margin: 0px;
    padding: 0px 2px 0px 7px;
    border-radius: 0px;
}

#privacy {
    color: #111314;
    background: #D3814B;
    border-radius: 10px;
    margin: 5px 5px 5px 2px;
    padding: 2px 6px 2px 6px;
}

/* Workspace Style - Start */
#workspaces {
    background: #1F2121;
    margin: 0px;
    color: #F7F3EA;
    padding: 0px 1px 0px 2px;
    border-radius: 0px;
    border-top: 2px solid #111314;
    border-bottom: 2px solid #111314;
}
#workspaces button {
    padding: 0px 0px 0px 0px;
    color: #F7F3EA;
    margin: 0px 0px 0px 0px;
    border-radius: 0px;
    background: #1F2121;
}
#workspaces button.active {
    color: #89B482;
    background: #1F2121;
}
#workspaces button.focused {
    color: #A9B665;
    background: #1F2121;
}
#workspaces button.hover {
    color: #A9B665;
    background: transparent;
}
#workspaces button.urgent {
    color: #EA6962;
    background: #1F2121;
}


/* Taskbar Style - End */
#taskbar {
    margin: 0px;
    padding: 0px 0px 0px 2px;
    border-radius: 0px;
    background: #111314;
    border-top: 2px solid #111314;
    border-bottom: 2px solid #111314;
}
#taskbar button {
    padding: 0px 0px 0px 2px;
    border-radius: 4px;
    margin: 2px 0px 2px 1px;
    background: transparent;
}
#taskbar button.active {
    color: #A9B665;
    background: #1F2121;
}
#taskbar button.focused {
    color: #A9B665;
    background: #1F2121;
}
#taskbar button.urgent {
    color: #E78A4E;
    background: #EA6962;
}
#taskbar button.hover {
    color: #A9B665;
    background: #1F2121;
}


/* Custom Arrow */
#custom-arrowl1 {
    margin: 0px;
    padding: 0px;
    font-size: 12pt;
	color: #1F2121;
    border-top: 2px solid #111314;
    border-bottom: 2px solid #111314;
	background: #111314;
}
#custom-arrowl2 {
    margin: 0px;
    padding: 0px;
    font-size: 12pt;
	color: #111314;
    border-top: 2px solid #111314;
    border-bottom: 2px solid #111314;
    background: #1F2121;
}
#custom-arrowr1 {
    margin: 0px;
    padding: 0px;
    font-size: 12pt;
	color: #1F2121;
    border-top: 2px solid #111314;
    border-bottom: 2px solid #111314;
	background:#111314;
}
#custom-arrowr2 {
    margin: 0px;
    padding: 0px;
    font-size: 12pt;
	color: #111314;
    border-top: 2px solid #111314;
    border-bottom: 2px solid #111314;
    background: #1F2121;
}
