* {
    border: none;
    border-radius: 0;
    font-family: JetBrainsMono Nerd Font;
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: #cdd6f4;
}

tooltip {
    background: transparent;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #43413B;
}

#custom-language,
#custom-caffeine,
#window,
#clock,
#battery,
#pulseaudio,
#tray,
#cpu,
#memory,
#temperature,
#custom-spotify,
#custom-network {
    color: #d4be98;
    background: #282b2c;
    padding: 0px 10px;
    margin-top: 0px;
    margin-bottom: 8px;
    margin-left: 2px;
    margin-right: 2px;
    border: 2px solid #43413B;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}


#backlight {
    color: #d4be98;
    background: #282b2c;
    padding: 0px 9px 0px 10px;;
    margin-top: 0px;
    margin-bottom: 8px;
    margin-left: 2px;
    margin-right: 2px;
    border: 2px solid #43413B;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8)
}

#network {
    color: #d4be98;
    background: #282b2c;
    padding: 0px 15px 0px 10px;;
    margin-top: 0px;
    margin-bottom: 8px;
    margin-left: 2px;
    margin-right: 2px;
    border: 2px solid #43413B;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}

#custom-swaync {
    color: #d4be98;
    background: #282b2c;
    padding: 0px 15px 0px 10px;;
    margin-top: 0px;
    margin-bottom: 8px;
    margin-left: 2px;
    margin-right: 2px;
    border: 2px solid #43413B;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}

#custom-bluetooth {
    color: #d4be98;
    background: #282b2c;
    padding: 0px 15px 0px 10px;;
    margin-top: 0px;
    margin-bottom: 8px;
    margin-left: 2px;
    margin-right: 2px;
    border: 2px solid #43413B;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}

#power-profiles-daemon {
    color: #d4be98;
    background: #282b2c;
    padding: 0px 16px 0px 11px;;
    margin-top: 0px;
    margin-bottom: 8px;
    margin-left: 2px;
    margin-right: 2px;
    border: 2px solid #43413B;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}
#custom-weather {
    color: #d4be98;
    background: #282b2c;
    padding: 0px 12px 0px 10px;
    margin-top: 0px;
    margin-bottom: 8px;
    margin-left: 2px;
    margin-right: 2px;
    border: 2px solid #43413B;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}

#custom-appmenu {
    color: #A9B665;
    background: #282b2c;
    padding: 0px 15px 0px 10px;
    margin-top: 0px;
    margin-bottom: 8px;
    margin-left: 8px;
    margin-right: 2px;
    border: 2px solid #43413B;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}

#custom-power {
    color: #A9B665;
    background: #282b2c;
    padding: 0px 15px 0px 12px;
    margin-top: 0px;
    margin-bottom: 8px;
    margin-left: 2px;
    margin-right: 8px;
    border: 2px solid #43413B;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}

/* Workspace Style - Start */
#workspaces {
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}
tooltip,
#workspaces {
    color: #d4be98;
    padding: 0px 10px 0px 0px;
    margin-top: 0px;
    margin-bottom: 8px;
    margin-left: 2px;
    margin-right: 2px;
    background-color: #282b2c;
    border: 2px solid #43413B;
    padding: 3px;
}
#workspaces button {
    padding: 2px 8px 2px 8px;
    color: #d4be98;
}
#workspaces button.active {
    color: #181825;
    border-radius: 7px;
    background-color: #a9b665;
}
#workspaces button.focused {
    color: #A9B665;
    border-radius: 7px;
}
#workspaces button.urgent {
    color: #EA6962;
    border-radius: 7px;
}
#workspaces button:hover {
    color: #A9B665;
    border-radius: 7px;
}
/* Workspace Style - End */