* {
    border: none;
    border-radius: 0px;
    font-family: JetBrainsMono Nerd Font;
    font-weight: bold;
    font-size: 12px;
    min-height: 0;
}

window#waybar {
    background-color: #111314;
    border-radius: 5px;
    border: 2px solid #232526;
}
window#waybar:hover {
    border: 2px solid #A9B665;
}

tooltip {
    background: #111314;
    border: 2px solid #232526;
    border-radius: 5px;
    padding: 8px;
    margin: 4px;
}

#clock {
    margin: 0px;
    color: #F7F3EA;
    background: #232526;;
    padding: 0px 7px 0px 7px;
    border-radius: 5px;
}

#custom-media {
    border: 2px solid #232526;
    margin: 0px 1px 0px 1px;
    color: #EA6962;
    padding: 0px 6px 0px 6px;
    border-radius: 0px;
}

#tray {
    background: #232526;
    border: 2px solid #232526;
    color: #F7F3EA;
    margin: 0px;
    padding: 0px 6px 0px 0px;
    border-radius: 0px 5px 5px 0px;
}

#battery {
    margin: 0px 1px 0px 1px;
    color: #EA6962;
    padding: 0px 5px 0px 0px;
    border-radius: 0px;
}
#battery.charging {
    color: #A2AE61;
}
#battery.plugged {
    color: #7DAEA3;
}

#cpu {
    background: #232526;
    margin: 0px;
    color: #F7F3EA;
    padding: 0px 2px 0px 8px;
    border-radius: 0px;
}

#memory {
    background: #232526;
    margin: 0px;
    color: #F7F3EA;
    padding: 0px 8px 0px 10px;
}

#temperature {
    background: #232526;
    margin: 0px;
    color: #F7F3EA;
    padding: 0px 5px 0px 2px;
    border-radius: 0px 0px 0px 0px;
}

#custom-spotify {
    margin: 0px 2px 0px 2px;
    color: #89B482;
    padding: 0px 2px 0px 5px;
    border-radius: 5px;
}

#pulseaudio {
    border-top: 2px solid #232526;
    border-bottom: 2px solid #232526;
    margin: 0px;
    background: #232526;
    color: #F7F3EA;
    padding: 0px 0px 0px 5px;
}
#pulseaudio.muted {
    color: #EA6962;
}
#pulseaudio.microphone {
    margin: 0px 0px 0px 0px;
    color: #EA6962;
    background: #232526;
    padding: 0px 5px 0px 8px;
    border-radius: 0px 0px 0px 0px;
}
#pulseaudio.microphone.source-muted {
    color: #F7F3EA;
}

#idle_inhibitor {
    margin: 0px;
    color: #A9B665;
    background: #232526;
    padding: 0px 12px 0px 0px;
    border-radius: 0px;
}

#idle_inhibitor.deactivated {
    color: #E78A4E;
}

#backlight {
    margin: 0px;
    color: #F7F3EA;
    padding: 0px 4px 0px 0px;
    border-radius: 0px 0px 0px 0px;
}

#network {
    color: #F7F3EA;
    padding: 0px 0px 0px 8px;
    border-radius: 0px;
}

#bluetooth {
    color: #F7F3EA;
    padding: 0px 4px 0px 7px;
    border-radius: 0px;
}

#power-profiles-daemon {
    margin: 0px;
    color: #F7F3EA;
    padding: 0px 9px 0px 0px;
    border-radius: 0px;
}

#power-profiles-daemon.performance {
    color: #EA6962;
    padding: 0px 8px 0px 6px;
}
#power-profiles-daemon.balanced {
    color: #E78A4E;
    padding: 0px 9px 0px 5px;
}
#power-profiles-daemon.power-saver {
    color: #A9B665;
    padding: 0px 8px 0px 6px;
}

#custom-weather {
    margin: 0px;
    color: #F7F3EA;
    padding: 0px 0px 0px 5px;
    border-radius: 0px;
}

#custom-appmenu {
    background: #232526;
    border-right: 0px solid #232526;
    border-left: 0px solid #232526;
    border-top: 2px solid #232526;
    border-bottom: 2px solid #232526;
    margin: 0px 0px 0px 0px;
    color: #7DAEA3;
    padding: 0px 7px 1px 8px;
    border-radius: 5px 0px 0px 5px;
}
#custom-appmenu:hover {
    color: #A9B665;
}

#custom-power {
    color: #E78A4E;
    padding: 0px 8px 0px 8px;
    border-radius: 0px;
}
#custom-power:hover {
    color: #111314;
}

/* Workspace Style - Start */
#workspaces {
    background: #232526;
    margin: 0px;
    color: #F7F3EA;
    padding: 2px 0px 2px 2px;
    border-radius: 0px;
}
#workspaces button {
    padding: 0px;
    color: #F7F3EA;
    margin: 1px 0px 1px 1px;
    border-radius: 2.0px;
    background: #232526;
}
#workspaces button.active {
    color: #89B482;
    background: #232526;
}
#workspaces button.focused {
    color: #A9B665;
    background: #232526;
}
#workspaces button:hover {
    color: #A9B665;
    background: transparent;
}
#workspaces button.urgent {
    color: #E78A4E;
    background: #232526;
}

/* Workspace Style - End */
#taskbar {
    margin: 0px 1px 0px 1px;
    padding: 2px;
    border-radius: 0px;
}
#taskbar button {
    padding: 2px 1px 2px 0px;
    border-radius: 2.0px;
    margin: 1px;
}
#taskbar button.active {
    background: #232526;
}


/* Custom Arrow */
#custom-arrowl1 {
    margin: 0px;
    padding: 2px 0px;
    font-size: 14pt;
	color: #232526;
	background: transparent;
}
#custom-arrowl2 {
    margin: 0px;
    padding: 2px 0px;
    font-size: 14pt;
	color: #111314;
    background: #232526;
}
#custom-arrowr1 {
    margin: 0px;
    padding: 2px 0px;
    font-size: 14pt;
	color: #232526;
	background: transparent;
}
#custom-arrowr2 {
    margin: 0px;
    padding: 2px 0px;
    font-size: 14pt;
	color: #111314;
    background: #232526;
}