[Desktop Entry]
Version=1.0
Name=Crunchyroll
Comment=Crunchyroll
Exec=omarchy-launch-webapp https://www.crunchyroll.com/
Terminal=false
Type=Application
Icon=/home/u1145h/.local/share/applications/icons/Crunchyroll.png
StartupNotify=true
