[Desktop Entry]
Version=1.0
Name=Proton Wallet
Comment=Proton Wallet
Exec=omarchy-launch-webapp https://wallet.proton.me/u/1/
Terminal=false
Type=Application
Icon=/home/u1145h/.local/share/applications/icons/proton-wallet.svg
StartupNotify=true
