[Desktop Entry]
Version=1.0
Name=Proton Lumo
Comment=Proton Lumo
Exec=omarchy-launch-webapp https://lumo.proton.me/u/1/
Terminal=false
Type=Application
Icon=/home/u1145h/.local/share/applications/icons/proton-lumo.svg
StartupNotify=true
