[Desktop Entry]
Version=1.0
Name=Proton Docs
Comment=Proton Docs
Exec=omarchy-launch-webapp https://docs.proton.me/u/1/
Terminal=false
Type=Application
Icon=/home/u1145h/.local/share/applications/icons/proton-docs.svg
StartupNotify=true
