[Desktop Entry]
Name=Scarlet Maiden
Comment=Play this game on Steam
Exec=steam steam://rungameid/1968840
Icon=steam_icon_1968840
Terminal=false
Type=Application
Categories=Game;
